

/*<!--- mdn(developer mozilla) assignment -->*/

html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  background-color: #497d9b;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}

#ballCount {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaa;
}
.wrapper {
    text-align: center;
    margin-top: 350px;
}

.button {
  height: 100px;
  width: 300px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;  
}
#note {
  color: white;
  font-weight: bold;
}